html, body {
  margin: 0;
  padding: 0;
  background-color: lightslategray;
  /* visibility: hidden; */
}

canvas {
  display: block;
}

#finity {
  margin: auto;
  width: 950px;
  border: 3px solid green;
  /* padding: 10px; */
  box-sizing: unset;
  margin-top: 0;
}

#title{
  color: white;
  margin: 20px;
  font-size: 35px;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

#header {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: slategray;
}

#header-container {
  width: 95%;
  margin: auto;
}

#controls{
  display: inline-flex;
  float: right;
  margin: 10px;
  margin-right: 50px;
}

#footer {
  width: 100%;
  height: 50px;
  background-color: slategray;
}


#game_container {
  margin: auto;
  width: 1200px;
  display:inline-flex;
}

.player-panel{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 200px;
  height: 322px;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  border: white 2pt solid;
  opacity: 0.6;
}

.to-play{
  border: white 3pt solid;
  opacity: 1;
}

#player_1 {
  background-color: rgb(50, 150, 150);
}


#player_2 {
  background-color: rgb(255, 255, 0);
}

#player_3 {
  background-color: rgb(255, 0, 0);
}

#player_4 {
  background-color: rgb(165, 55, 253);
}

#player_cyan {
  background-color: rgb(50, 150, 150);
}


#player_yellow {
  background-color: rgb(255, 255, 0);
}

#player_red {
  background-color: rgb(255, 0, 0);
}

#player_purple {
  background-color: rgb(165, 55, 253);
}

#player-choice {
  display: inline-flex;
  background-color: rgb(100, 100, 110);
  float: right;
  margin: 10px;
  margin-right: 50px;
}

.p-choice {
  background-color:aliceblue;
  height: 30px;
  width: 30px;
  margin: 3px;
}

#p-cyan {
  background-color: rgb(50, 150, 150);
}

#p-yellow {
  background-color: rgb(255, 255, 0);
}

#p-red {
  background-color: rgb(255, 0, 0);
}

#p-purple {
  background-color: rgb(165, 55, 253);
}

.p-active {
  border: 1px solid white;
  box-sizing: border-box;
  opacity: 1;
}

.p-inactive {
  border: 1px solid slategray;
  box-sizing: border-box;
  opacity: 0.2;
}

.c-btns {
  margin-right: 10px;
}

.form-select {
  background-color: black;
  color: white;
}

#finity-logo {
  margin-bottom: 20px;
}

.player-controls {
    background-color: rgba(255, 255, 255, 0.6);
    border: white 2px solid;
    margin: 5px;
    padding: 5px;
    height: 85%;
}

.no-play-panel {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 320px;
  width: 199px;
  top: -312px;
  left: -12px;
}

.to-play-panel {
  display: none;
}

.medal {
  display: block;
  width: 65%;
  margin: auto;
  padding-top: 70px;
}